body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 50px;
}
.world{
     color: orange;
}
.flexible{
    display: flex;
    margin-bottom: 30%;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
width:80%;
}
.link-button{
    text-decoration: none;
    background:linear-gradient(orange , red);
    color:white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.iron-man{
    text-decoration: none;
    background:linear-gradient(orange , red);
    color:white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;
}
.hey{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.exp{
    width: 50%;
    padding-left: 5%;
    padding-bottom: 5%;
    box-shadow: 10px 10px 40px green;
    margin-left: 5%;
    margin-right: 5%;
    border-left: 10px solid;
}
.Experience{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
#vb{
    border-left: 10 solid;
    border-image:linear-gradient(red , green) ;
    border-image-slice: 1;
}
#vc{
    border-left: 10 solid;
    border-image:linear-gradient(blue , white) ;
    border-image-slice: 1;
}
footer p{
    text-align: center;
}